
@use "sass:map";

// layout/_main.scss
@use "../foundation/variables" as v;
@use "../foundation/mixins" as m;


.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

.main-content {
  width: 100%;

  /* 方眼背景 css */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;

  @include m.mq(lg) {
    background-size: 32px 32px;
  }
}